*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul,ol{
  list-style: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
img{
  width: 100%;
  height: auto;
}

/*/header/*/
.zooovheader{
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  position: fixed;
padding-left: 100px;
padding-right: 100px;

}
.header__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}
.header__link{
  color: rgb(233, 146, 139);
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
}
:hover.header__link{
  color: rgb(177, 69, 69);
}
:active.header.link{
  color: rgb(25, 2, 2);
}




/* main */

.oval{
  width: 200px;
  position:absolute;
  left: 300px;
}
.bigdog{
  background-image: url(./../img/bigdog.png);
  background-repeat: no-repeat;
  background-size:inherit;
  height: 100vh;
  background-position: center; 
  margin-bottom: 160px;
}
.content{
  width: 400px;
 padding-top: 150px;
 margin-left: 100px;
}
.content__tit{
  color: rgb(255, 255, 255);
font-family: Oswald;
font-size: 54px;
font-weight: 700;
line-height: 130%;
letter-spacing: 2%;
text-align: left;
margin-bottom: 12px;
}
.content__text{
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25px;
}
.content__btn{
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
border: none;
padding: 13px 42px;
background: rgb(150, 25, 20);
}
:hover.content__btn{
  color: rgb(150, 25, 20);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(150, 25, 20);
border-radius: 8px;
padding: 13px 42px;
background-color: white;
}
:active.content__btn{
  background-color: rgb(177, 69, 69);
  color: white;
}



.whatbarf{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.whatbarf__content{
  width: 584px;
}
.whatbarf__tit{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
margin-bottom: 32px;
}
.whatbarf__text{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
.whatbarf__img{
  width: 588px;
}
.whatbarf__list{
  list-style:disc;
}
.whatbarf__title{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 130%;
margin-bottom: 16px;
}
.whatbarf__item{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.whatbarf__item::marker{
color:rgb(150, 25, 20);
}



.eats{
 background: rgb(234, 209, 208);
margin-top: 80px;
display: flex;
gap: 150px;
margin-bottom: 180px;
}
.eats__tit{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 200%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
margin-bottom: 16px;
padding-top: 36px;
margin-left: 80px;
}
.eats__item{
  align-items: center;
  margin-bottom: 8px;
}
.eats__img{
  width: 20px;
}
.eats__content{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 80px;
padding-top: 32px;
  padding-bottom: 32px;
}
.listitem{
  margin-bottom: 20px;
}
.eats__list2{
  padding-top: 40px;
}





.rations{
  margin-bottom: 180px;
}
.rule{
  display: flex;
  justify-content: space-between;
}
.rule__tit{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
letter-spacing: 2%;
text-align: left;
margin-bottom: 80px;
}
.rule__oval{
  width: 180px;
  position: absolute;
  left: 220px;
}
.rule__text{
  width: 777px;
}

.rule__item{
  width: 280px;
}
.rule__title{
  font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 4px;
}
.rule__text1{
  color: rgb(159, 158, 157);
font-family: Montserrat;
font-size: 13px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.rule__text2{
  margin-bottom: 11px;color: rgb(67, 66, 66);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.rule__text3{
  color: rgb(159, 158, 157);
font-family: Montserrat;
font-size: 13px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.rule__img{
 background: rgb(244, 245, 245);
}
.rule__list{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.rule__btn{
  color: rgb(150, 25, 20);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(150, 25, 20);
border-radius: 8px;
padding: 13px 42px;
background-color: white;
}
:hover.rule__btn{
  background-color: rgb(177, 69, 69);
  color: white;
}
:active.rule__btn{
  background-color: rgb(150, 25, 20);
  color: white;
}


.line{
  background: rgb(234, 209, 208);
  background-image: url(./../img/ruler.png);
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line__tit{
  padding-top: 52px;
  width: 650px;
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 28px;
font-weight: 500;
line-height: 140%;
letter-spacing: 2%;
text-align: left;
padding-bottom: 54px;
padding-left: 50px;
}
.line__btn{
  border-radius: 8px;
background: rgb(150, 25, 20);
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
border: none;
padding: 13px 42px;
margin-right: 121px;
}
:hover.line__btn{
  color: rgb(150, 25, 20);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(150, 25, 20);
border-radius: 8px;
padding: 13px 42px;
background-color: white;
}
:active.line__btn{
  background-color: rgb(177, 69, 69);
  color: white;
}




.why{
  background-image: url(./../img/ruler2.png);
  background-repeat:no-repeat;
  background-position:center;
  margin-bottom: 170px;
}
.why__tit{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
letter-spacing: 2%;
text-align: left;
margin-bottom: 60px;
}
.why__item1{
  width: 280px;
}
.why__img{
  width: 28px;
  margin-bottom: 6px;
}
.why__item2{
  width: 281px;
}
.why__item3{
  width: 220px;
}
.why__item4{
  width: 282px;
}
.why__title{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 8px;
}
.why__text{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.why__list{
  display: flex;
  justify-content: space-between;
}





.about{
   background: rgb(255, 244, 243);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 100px;
   padding-bottom: 58px;
   margin-bottom: 170px;
}
.about__img{
  width: 611px;
}
.about__content{
  width: 523px;
  margin-right: 40px;
}